<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
	  <title>Sign in</title>
	</head>
	
<body>

  
  <div class="main">
    <p class="sign" align="center">Sign in</p>
	  <form class="form1" action="/dashbord" method="POST">

      <!-- CSRF -->
      <script>
        var csrf_token = "{{ csrf_token() }}";
      
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
      </script>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <!------------------------------------------------------------------>

      <input class="un " name="email" type="email" align="center" placeholder="Email" required maxlength="50">
      
      <input class="pass" name="password" id="password_input" type="password" align="center" placeholder="Password" required maxlength="50" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
      <!-- <script src="../static/javascript/auth.js"></script> -->
      <script src="{{ url_for('static', filename='javascript/auth.js') }}"></script>

      <!-- password validation -->
      <!-- <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      </div> -->
      <!--------------------------------------------------------------------------------->
      
      
      <button type="submit" class="submit" align="center">Sign in</button>
	    <p class="forgot" align="center"><a href="#">Forgot Password?</p>             
      </form>
    </div>
    
</body>

</html>