<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create content</title>
</head>
<body>
  <h2>insert your own content!</h2>
    
  <form action="/" method="post">
    <input type="text" name="writer_name" maxlength="20" placeholder="enter your name">
    <input type="text" name="title" maxlength="20" placeholder="enter your title">
    <input type="text" name="content" placeholder="your main content here">
    
    <select name="category" required>
      <option value="choose_category" >choose_category</option>
      <option value="action">Action</option>
      <option value="funny">Funny</option>
      <option value="fantasy">Fantasy</option>
      <option value="adventure">Adventure</option>
      <option value="romance">Romance</option>
      <option value="contemporary">Contemporary</option>
    </select>

    <input type="submit" name="submit">

  </form>




</body>
</html>